.OutSide{
    margin-top: 50px;
   margin-left: 20px;
 
}

.LineChart{
    background-color:white;   
    width:900px;
    height: 75vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.ChartSize{
  width: 900px;
  height: 75vh;
  margin-left: 10px;
}

.LineChart-dark{
 
    width: auto;
    height: 45vh;
    background-color: #262626;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* margin-left:20px ; */
      
}

